body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #F7FAFC;
}

.dashboard-container {
    display: flex;
    height: 100vh;
}


.sidebar {
    width: 21rem;
    color:#333;
    display: flex;
    flex-direction: column;
    padding-top: 1.8rem;
    position: fixed;
    top: 0;
    bottom: 0;
}

.profile {
    text-align: center;
    margin-bottom: 2rem;
}

.profile img {
    border-radius: 50%;
    width: 80px;
    height: 80px;
}

.profile p {
    margin: 0.5rem 0 0;
}

.site-title {
    font-size: 2rem;
    margin-top: 2rem;
}

.nav-links ul {
    margin-top: 4rem;
}

.nav-links li {
    margin: 2.8rem 0;
    list-style: none;
}

.nav-links a {
    color: #D8D8D8;
    text-decoration: none;
    display: block;
    padding: 0.5rem 1rem;
    width: 12rem;
    height: 2.5rem;
    border-radius: 0.5em;
}

.nav-links .active {
    background-color: white;
}

.nav-links .active .nav-text {
    color: #525252;
}

.nav-links .active .nav-logo{
    color:#E16262;
}

.nav-text {
    margin-left: 0.4rem;
    padding-top: 0.5rem;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.nav-item {
    display: flex;
    flex-direction: row;
    margin-left: 0.2rem;
}

.signout {
    color: #D8D8D8;
    background-color: #F7FAFC;
    text-decoration: none;
    display: block;
    padding: 0.5rem 1rem;
    width: 14rem;
    height:3.5rem;
    border-radius: 0.5em;
}

.nav-links a:hover{
    background-color: white;
}

.nav-links a:hover .nav-text {
    color: #525252; 
}

.nav-links a:hover .nav-logo {
    color: #E16262;
}


.nav-links button.signout:hover{
    background-color: white;
}

.nav-links button.signout:hover .btn-text {
    color: #525252; 
}

.nav-links button.signout:hover .nav-logo {
    color: #E16262; 
}
.btn-text {
    margin-left: 0.4rem;
    padding-top: 0.2rem;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}


.logo-container {
    display: flex;
    justify-content: center; /* Center logo horizontally */
    align-items: center; /* Center logo vertically */
    margin-top: 1rem; /* Adjust margin as needed */
  }
  
  .logo-img {
    width: 5rem;
    height: auto;
  }

.main-content {
    flex: 1;
    padding: 2rem;
    margin-left: 21rem;
    overflow-y: auto;
}

/* Hide scrollbar for the main content */
.main-content::-webkit-scrollbar {
    width: 0;
    height: 0;
}


.header {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}

.user-info {
    margin-top: 1rem;
}

.user-info h2 {
    margin: 0;
}

.stats {
    display: flex;
    gap: 2rem;
    margin-top: 1rem;
}

.achievements, .inventory {
    margin-top: 2rem;
}

.achievement-list, .inventory-list {
    display: flex;
    gap: 1rem;
}

@font-face {
    font-family: 'Inter';
    src: url('../../fonts/Inter.ttf') format('truetype');
}