.dashboard {
    margin: 0 10rem;
}

.welcome-text{
    color: #525252;
    font-family: Inter;
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding: 0.8rem
}

.box-text{
    color: #FFF;
    font-family: Inter;
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding: 1.5rem 0 0.8rem;
}

.box-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.pt {
    margin-top: 5.8rem;
    color: #525252;
    font-family: Inter;
    font-size: 5rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding: 0.5rem
}

.pt-text{
    color: #525252;
    font-family: Inter;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}