.post {
    background-color: white;
    border-radius: 1.2rem;
    padding: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  
.post h2 {
  color: #525252;
  margin: 0 0 0.5rem 0;
  padding-left: 1rem;
  font-size: xx-large;
  font-family: Inter;
}

.post p {
  color: #525252;
  padding-left: 1rem;
  font-weight: 600;
  font-family: Inter;
}

.post .author {
  padding-left: 1rem;
  display: block;
  margin-top: 1.5rem;
  font-size: small;
  font-family: Inter;
  font-style: italic;
  font-weight: 500;
  color: #B9B9B9;
}
  
@font-face {
  font-family: 'Inter';
  src: url('../../fonts/Inter.ttf') format('truetype');
}